@import './typography';
@import './variables';
@import './buttons';
@import './mixins.scss';

body {
    color: $text;
    background: $primaryWhite;
    font-family: 'FedraSansStd', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    li {
        display: inline-block;
    }
}

a {
    color: $primary;
    transition: all 0.2s ease-in-out;
    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }
}

a.button {
    border: solid 2px white;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 1em;
    display: inline-block;
    padding: 1em 1em 0.8em;
    color: white;
    &:hover {
        color: white;
        opacity: 0.8;
    }
}

#app {
    .black-box{
        background-color: $primary;
        .content-item{
            h1, h2, h3, h4, p {
                color: white;
            }
        }
    }
    
    nav {
        z-index: 1;
        position: relative;
        max-height: 90px;
        ul {
            justify-content: flex-end;
            padding-bottom: 0;
            margin-bottom: 0;
            .main-logo{
                flex: auto;
                width: 109px;
                height: 28px;
                a {
                    border: none;
                    margin-left: 0;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            li:nth-child(6) {
                margin-right: 100px;
            }
            a {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.9em;
                margin: 0 2em;
                color: white;
                line-height: 5em;
                transition: all linear 0.2s;
                border-bottom: solid 2px transparent;
                line-height: 5em;
                &.router-link-exact-active,
                &:hover {
                    border-color: white;
                    text-decoration: none;
                }
            }
            &.inverted {
                background-color: $primary;
                a {
                    color: $primary;
                    font-size: 0.9em;
                }
            }
        }
        &.black-menu {
            border-bottom: solid 1px $lightGrey;
            ul li a {
                color: $primary;
                border-color: $primaryWhite;
                &.router-link-exact-active,
                &:hover {
                    border-color: $primary;
                }
            }
        }
    }
    .language-switch {
        position: absolute;
        right: 5%;
        top: 25px;
        a{
            color: $primaryWhite;
            font-weight: bold;
            font-size: 0.9em;
            img {
                margin-top: -4px;
            }
        }
    }
    .container {
        max-width: 100%;
        &--boxed {
            max-width: 1130px;
            position: relative;
            height: 100%;
            margin: auto;
        }
    }
    
    .header {
        &--home {
            height: 667px;
            margin-top: -160px;
            z-index: 0;
            overflow: hidden;
            @include respond-to($desktop) {
                height: 800px;
                margin-top: -140px;
            }
        }
        &--boxed {
            max-width: 1440px;
            @include respond-to($desktop) {
                height: 810px;
                margin-top: -90px;
            }
        }
        &__content {
            color: white;
            margin-top: 100px;
        }
        &--taste {
            &__content{
                color: $primary;
                height: 300px;
                display: flex;
            }
        }
        &--taste-detail {
            background-color: $primary;
            height: 667px;
            color: $primary;
        }
        .flickity {
            &-enabled {
                width: 100%;
            }
            &-page-dots {
                left: 30px;
                bottom: 55px;
                text-align: left;
                margin: auto;
                max-width: 1135px;
                position:relative;
                @include respond-to($grid) {
                    left: 0;
                }
                .dot {
                    background-color: white;
                    opacity: 0.5;
                    width: 12px;
                    height: 12px;
                    margin: 0 4px;
                    &.is-selected {
                        opacity: 1;
                    }
                }
            }
        }
        .slider {
            width: 100%;
            &__image {
                width: 100%;
                height: 800px;
                background-size: cover;
                background-position: center;
                padding: 18px;
                @include respond-to($grid) {
                    padding: 0;
                }
            }
            &__title {
                position: absolute;
                color: white;
                font-weight: 800;
                font-size: 2.4em;
                bottom: 260px;
                left: 0;
                text-transform: uppercase;
                @include respond-to($desktop) {
                    font-size: 3.4em;
                    bottom: 250px;
                    max-width: 550px;
                }
            }
            &__button {
                position: absolute;
                bottom: 185px;
                left: 0;
                color: $primary;
                background-color: $primaryWhite;
                width: 260px;
                img {
                    float: right;
                    margin-top: -1px;
                    transform: translateX(0);
                    transition: 0.2s transform ease-in-out;
                }
                &:hover {
                    background-color: transparent;
                    border-color: transparent;
                    border-bottom: 2px solid $primaryWhite;
                    color: $primaryWhite;
                    img{
                        transform: translateX(5px);
                    }
                }
                
                @include respond-to($desktop) {
                    bottom: 150px;
                }
                @include respond-to($phone) {
                    width: 100%;
                }
            }
        }
    }
    .content-item {
        transition: margin-top 0.3s ease-in-out;
        margin-top: 100px;
        &--taste {
            margin-top: 0;
        }
        @include respond-to($desktop) {
            margin-top: 117px;
         }
         &--taste {
            @include respond-to($desktop) {
                margin-top: 100px
             } 
         }
        h3 {
            font-size: 2.4em;
            font-weight: bold;
            line-height: 1.17;
            letter-spacing: 0.5px;
            color: $primary;
            max-width: 400px;
            margin-bottom: 1em;
            text-transform: uppercase;
            @include respond-to($desktop) {
                font-size: 3.4em;
                margin-bottom: 0;
            }
            @include respond-to($tablet-landscape) {
                font-size: 2.8em;
            }
        }
        p {
            font-size: 1.2em;
            line-height: 1.5;
            letter-spacing: 0.5px;
            @include respond-to($tablet-landscape) {
                font-size: 1em;
            }
        }
    }
}