@import './typography';
@import './variables';
@import './buttons';
@import './mixins.scss';

body {
    color: $text;
    background: $primaryWhite;
    font-family: 'FedraSansStd', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

h1,
h2 {
    font-family: 'FedraSansBold';
}

p {
    font-family: 'FedraSerifStd';
    font-size: 1.1em;
    line-height: 1.5;
    letter-spacing: 0.3;
    @include respond-to($desktop) {
        font-size: 1.2em;
        letter-spacing: 0.5px;
    }
}


ul {
    list-style-type: none;
    padding: 0;
    li {
        display: inline-block;
    }
}

a {
    color: $primary;
    transition: all 0.2s ease-in-out;
    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }
}
.background-black {
    background-color: $primary;
}

.fixed-nav {
    #app{
        nav {
            background-color: $primaryWhite;
            position: fixed;
            max-height: 70px;
            .main-logo{
                background-image: url('/static/images/infarm-logo-black.svg');
            }
            a {
                color: $primary;
                font-size: 0.9em;
            }
        }
        .language-switch {
            a{
                background-image: url('/static/images/chevron-black.svg');
            }
        }
    }     
}

#app {
    .black-box{
        background-color: $primary;
        padding-top: 40px;
        padding-bottom: 40px;
        @include respond-to($desktop) {
            padding-top: 170px;
            padding-bottom: 140px;
        }
        .content-item{
            h1, h2, h3, h4, p {
                color: white;
            }
        }
    }
    
    nav {
        z-index: 1;
        position: absolute;
        top: 0;
        max-height: 90px;
        
        ul {
            justify-content: flex-end;
            padding-bottom: 0;
            margin-bottom: 0;
            .main-logo{
                flex: auto;
                width: 109px;
                height: 60px;
                background-image: url('/static/images/infarm-logo-white.svg');
                background-repeat: no-repeat;
                background-position-y: center;
                cursor: pointer;
                a {
                    border: none;
                    margin-left: 0;
                    text-indent: -5000px;
                    display: inline-block;
                    width: 100%;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            li:nth-child(6) {
                margin-right: 100px;
            }
            a {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.9em;
                margin: 0 2em;
                color: white;
                line-height: 5em;
                transition: all linear 0.2s;
                border-bottom: solid 2px transparent;
                line-height: 5em;
                &.router-link-exact-active,
                &:hover {
                    border-color: white;
                    text-decoration: none;
                }
            }
        }
        &.black-menu {
            border-bottom: solid 1px $lightGrey;
            .main-logo{
                background-image: url('/static/images/infarm-logo-black.svg');
            }
            ul li a {
                color: $primary;
                border-color: $primaryWhite;
                &.router-link-exact-active,
                &:hover {
                    border-color: $primary;
                }
            }
        }
    }
    .language-switch {
        position: absolute;
        right: 5%;
        top: 25px;
        a{
            color: $primaryWhite;
            font-weight: bold;
            font-size: 0.9em;
            display: inline-block;
            background-image: url('/static/images/chevron-white.svg');
            background-repeat: no-repeat;
            background-position-y: -4px;
            width: 60px;
            background-position-x: 23px;
        }
    }
    .container {
        max-width: 100%;
        &--boxed {
            max-width: 1130px;
            position: relative;
            height: 100%;
            margin: auto;
            width: 100%;
        }
        &.taste-box {
            margin-bottom: 150px;
            .flickity-enabled {
                height: 390px;
                margin-top: 40px;
            }
            .flickity-prev-next-button.previous {
                left: -110px;
            }
            .flickity-prev-next-button.next {
                right: -110px;
            }
            .slider {
                height: 360px;
                background-color: $lightGrey;
                width: 360px;
                margin-right: 27px;

            }
           .slider__title{
                color: $primaryWhite;
                position: absolute;
                top: 260px;
                left: 25px;
                max-width: 245px;
           }
        }
        &.how-box {
            height: 760px;
            .row, .background-black {
                height: 100%;
            }
        }
    }
    
    .header {
        &--home {
            height: 100vh;
            z-index: 0;
            overflow: hidden;
        }
        &--boxed {
            max-width: 1440px;
            width: 100%;
            @include respond-to($desktop) {
                height: 100vh;
            }
        }
        &__content {
            color: white;
            margin-top: 100px;
        }
        &--taste {
            &__content{
                color: $primary;
                height: 300px;
                display: flex;
            }
        }
        &--taste-detail {
            background-color: $primary;
            height: 667px;
            color: $primary;
        }
        .flickity {
            &-enabled {
                width: 100%;
            }
            &-page-dots {
                left: 30px;
                bottom: 55px;
                text-align: left;
                margin: auto;
                max-width: 1135px;
                position:relative;
                @include respond-to($grid) {
                    left: 0;
                }
                .dot {
                    background-color: white;
                    opacity: 0.5;
                    width: 12px;
                    height: 12px;
                    margin: 0 4px;
                    &.is-selected {
                        opacity: 1;
                    }
                }
            }
        }
        .slider {
            width: 100%;
            &__image {
                width: 100%;
                height: 100vh;
                background-size: cover;
                background-position: center;
                padding: 18px;
                @include respond-to($grid) {
                    padding: 0;
                }
            }
            &__title {
                position: absolute;
                color: white;
                font-weight: 800;
                font-size: 2.4em;
                bottom: 260px;
                left: 0;
                text-transform: uppercase;
                @include respond-to($desktop) {
                    font-size: 3.4em;
                    bottom: 250px;
                    max-width: 550px;
                }
            }
            &__button {
                position: absolute;
                bottom: 185px;
                left: 0;
                color: $primary;
                background-color: $primaryWhite;
                width: 260px;
                background-image: url('/static/images/arrow-black.svg');
                background-repeat: no-repeat;
                background-position: 220px center;
                transition: 0.2s all ease-in-out;
                
                &:hover {
                    background-color: transparent;
                    border-color: transparent;
                    border-bottom: 2px solid $primaryWhite;
                    color: $primaryWhite;
                    background-image: url('/static/images/arrow-white.svg');
                    background-position: 225px center;
                }
                
                @include respond-to($desktop) {
                    bottom: 150px;
                }
                @include respond-to($phone) {
                    width: 100%;
                }
            }
        }
    }
    .content-item {
        &--taste {
            margin-top: 0;
        }
        @include respond-to($desktop) {
            margin-top: 117px;
         }
         &--taste {
            @include respond-to($desktop) {
                margin-top: 100px
             } 
         }
        h3 {
            font-size: 2.4em;
            font-weight: bold;
            line-height: 1.17;
            letter-spacing: 0.5px;
            color: $primary;
            max-width: 400px;
            margin-bottom: 1em;
            text-transform: uppercase;
            @include respond-to($desktop) {
                font-size: 3.4em;
                margin-bottom: 0;
            }
            @include respond-to($tablet-landscape) {
                font-size: 2.8em;
            }
        }
        p {
            font-size: 1.2em;
            line-height: 1.5;
            letter-spacing: 0.5px;
            @include respond-to($tablet-landscape) {
                font-size: 1em;
            }
        }
        &__icons {
            display: inline-block;
            min-width: 120px;
            text-align: center;
            @include respond-to($desktop) {
                margin-top: 50px
             } 
            h5 {
                font-family: FedraSansStd;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.25;
                letter-spacing: 0.6px;
                text-align: center;
                color: $primaryWhite;
                max-width: 90px;
                margin: 20px auto;
            }
        }
    }
}