@font-face {
    font-family: 'FedraSansLight';
    src: url('./assets/fonts/FedraSansStd-Light.woff2') format('woff2'),
        url('./assets/fonts/FedraSansStd-Light.woff') format('woff'),
        url('./assets/fonts/FedraSansStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'FedraSansStd';
  src: url('./assets/fonts/FedraSansStd-Medium.woff2') format('woff2'),
      url('./assets/fonts/FedraSansStd-Medium.woff') format('woff'),
      url('./assets/fonts/FedraSansStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'FedraSansBold';
    src: url('./assets/fonts/FedraSansStd-Bold.woff2') format('woff2'),
        url('./assets/fonts/FedraSansStd-Bold.woff') format('woff'),
        url('./assets/fonts/FedraSansStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'FedraSerifStd';
  src: url('./assets/fonts/FedraSerifA-Book.woff2') format('woff2'),
      url('./assets/fonts/FedraSerifA-Book.woff') format('woff'),
      url('./assets/fonts/FedraSerifA-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'FedraSerifBold';
    src: url('./assets/fonts/FedraSerifA-Bold.woff2') format('woff2'),
        url('./assets/fonts/FedraSerifA-Bold.woff') format('woff'),
        url('./assets/fonts/FedraSerifA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

