@font-face {
    font-family: 'FedraSansStd';
    src: url('./assets/fonts/FedraSansStd-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FedraSansStd';
    src: url('./assets/fonts/FedraSansStd-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }

  // @font-face {
  //   font-family: 'FedraSansStd';
  //   src: url('./assets/fonts/FedraSanBoo.otf') format('opentype');
  //   font-weight: 400;
  //   font-style: normal;
  // }

  // @font-face {
  //   font-family: 'FedraSansSerif';
  //   src: url('./assets/fonts/FedraSerABoo.otf') format('opentype');
  //   font-weight: 400;
  //   font-style: normal;
  // }

  // @font-face {
  //   font-family: 'FedraSansSerif';
  //   src: url('./assets/fonts/FedraSerABol.otf') format('opentype');
  //   font-weight: 800;
  //   font-style: normal;
  // }